/node_modules
/public/vendor
/public/hot
/public/storage
/public/mix.js
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
.env
.phpstorm.meta.php
.phpunit.result.cache
_ide_helper.php
_ide_helper_models.php
composer.lock
package-lock.json
yarn.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
